* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  background-color: #bdf4f5;
  color: #fcfcfc;
  padding: 10px;
  font-size: 20px;
 
}

header img {
    padding: 20px;
    display: flex;
    width: 200px;
    height: auto;
    border-radius: 40px;
  
}

header nav a {
  justify-content: space-between;  
  color: #0f0e0e;
  text-decoration: none;
  margin-right: 200px;
}

body {
  font-family: Archivo Black regular, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
h1, h2 {
  padding: 10px;
}

.welcome {
  background-color: #bdf4f5;
  color: #0f0e0e;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.banner-img {
  width: 90%;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  range : center;
}

p {
  padding: 10px;
  text-align: left;
}